<div class="row">
  <% @menus.each do |menu| %>
    <div class="col-md-3">
      <%= image_tag(menu.image_url, class: "menu_image") %>

      <div class="menu_restaurant_name center">
        <%= menu.restaurant_name %>
      </div>
      <div class="menu_description center">
        <%= menu.description %>
      </div>
    </div><!-- /.col-md-3 -->
  <% end %>
</div> <!-- /.row -->

<!-- <table>
  <% @menus.each do |menu| %>
    <tr>
      <td>
        <%= image_tag(menu.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= menu.restaurant_name %></dt>
          <dd><%= menu.description %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', menu %>
        <%= link_to 'Edit', edit_menu_path(menu) %>
        <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table> -->

<br>

<%= link_to 'New Menu', new_menu_path %>
